*{
	margin-top:0; 
	padding-top:0; 
}
html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	/*font-family: copperplate gothic light;*/
}
#container{
	position: relative;
	height: inherit;
	left:-100%;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	padding-left: 17px;
	background-color: rgba(0,0,0,0.4);
}
#status{
	position: absolute;
	left: 35px;
	bottom: 15px;
}
#helpButton,#lastScanned,.seeThisStuff{
	background-color: #f2f2f2;
	width: 180px;
	font-size: 30px;
	border-radius: 5%;
	padding: 5px;
}
p{
	padding: 0;
	margin: 0;

}
#lastScanned{
	position: absolute;
	right: 35px;
	bottom: 15px;
}
.latestItem{
	padding: 10px;
	padding-left: 25px;
}
#latest{
	width: 350px;
	height: 100%;
	background-color:#f1f1f1;
}
.seeThisStuff{
	background-color: #ccc;
	width: 55%;
	/*height: 25px;*/
}
.seeThisStuff a{
	color:#1f1f1f;
	font-size: 21px;
	text-decoration: none;
}