body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1310px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:578px;
  width:170px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1190px;
  top:610px;
  width:120px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:1130px;
  top:25px;
  width:160px;
  height:35px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
